/* .banner{
    background-image: url("https://ae01.alicdn.com/kf/S1c2813a3043f4b76afe2da7e797813557.jpg_Q90.jpg_.webp");
}
.banner a{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
} */